<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
         <link rel="icon" href="/img/weather.png">
    </head>
    <script src="/js/app.js">

    </script>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This site was created by Sasha. It uses data from mapbox.com and weatherstack.com</p>
        <img src="img/sashotti_rotola (1).gif" class="portrait"> 
       </div>
      
        {{>footer}}
    </body>
    
    
</html>